body {
	overflow: hidden;
}

.lightbox {
	position: relative;
	z-index: 9999;
}

.lg-react-element {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	justify-content: center;
	align-items: center;
	gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
}
